.simauto {
  &-border-radius {
    border-radius: $simauto-radius;
  }
}

// TODO make primary-simauto behind other section
.bg {
  &-primary-simauto {
    background-color: $primary-color;
    color: white;
  }

  &-secondary-simauto {
    background-color: $secondary-color;
    color: $primary-color;
  }
}