.title {
  font-family:
    'Nunito',
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  color: $primary-color;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 300;
  font-size: 2rem;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.text {
  &-primary-simauto {
    color: $primary-color;
  }

  &-secondary-simauto {
    color: $secondary-color;
  }
}

.brief-title {
  font-weight: 900;
  font-size: 0.95rem;
  margin-bottom: 1.15rem;
}