.btn {
  padding: 0.55rem 1.75rem;
  border-radius: 1.5rem;
  font-weight: 600;

  &.btn-primary-simauto {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &.btn-secondary-simauto {
    background-color: $secondary-color;
    color: $primary-color;
  }
}