.navbar {
  padding: 1.3rem 5rem;
  
  &.bg-simauto {
    background: $primary-color;
    color: white;
  }

  .nav-item {
    .nav-link {
      font-size: 1.25rem;
      color: white;
      opacity: 0.6;
      transition: $simauto-transition;

      &:hover {
        color: $secondary-color;
        text-decoration: none;
        opacity: 1;
      }

      &:focus {
        outline: 0;
        color: inherit;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  &-light {
    .navbar-toggler {
      padding: 0.5rem 1rem;
      color: $secondary-color;
      border: 2px solid $secondary-color;
      border-radius: 0.5rem;

      &:focus {
        outline: 0;
      }
    }
  }
}